@font-face {
  font-family: garet;
  src: url(../fonts/Garet-Book.ttf);
}

@font-face {
  font-family: gs;
  src: url(../fonts/Gontserrat-Regular.ttf);
}

@font-face {
  font-family: rb;
  src: url(../fonts/Roboto-Regular.ttf);
}



/* NavBar CSS starts */

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-family: gs;
  font-weight: 700;
  font-size: 1.2rem;
}

.brand-name {
  text-decoration: none;
  color: rgb(63, 63, 63);
  cursor: pointer;
  font-family: gs;
  font-size: 1.5rem;
  font-weight: 600;
}

.brand-name:hover {
  text-decoration: none;
  color: rgb(153, 153, 153);
  cursor: pointer;
  font-family: gs;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
}

@media (min-width:1400px) {
  .nav-item {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: gs;
    font-weight: 600;
    font-size: 1.4rem;
  }
  
  .brand-name {
    text-decoration: none;
    color: rgb(63, 63, 63);
    cursor: pointer;
    font-family: gs;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  .brand-name:hover {
    text-decoration: none;
    color: rgb(153, 153, 153);
    cursor: pointer;
    font-family: gs;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .navbar {
    position: fixed;
    z-index: 10;
    width: 100vw;
  }
  
}

/* NavBar CSS Ends */

/* Caousel CSS Starts*/

.header-carousel-item {
  height: 90vh;
  font-family: gs;
}

.c-img {
  filter: brightness(0.5);
}

.carousel-caption {
  font-family: gs;
  font-size: 3.5rem;
  margin-bottom: 25vh;
}

@media (min-width:1400px) {

  .header-carousel-item {
    height: 70vh;
    font-family: gs;
  }
  
  .c-img {
    filter: brightness(0.5);
  }
  
  .carousel-caption {
    font-family: gs;
    font-size: 5rem;
    margin-bottom: 22vh;
  }

}

/* Caousel CSS Ends*/

/* About starts */

hr {
  border: 1px solid gray;
}

.hr-about {
  margin-top: 2%;
  margin-bottom: 6%;
}

.about-heading {
  margin-left: 5%;
  font-family: gs;
  margin-bottom: 4%;
}

.about-body {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-size: 1.2rem;
  font-family: rb;

  text-align: justify;
  text-justify: inter-word;
}

.about-last {
  font-size: 1.6rem;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}


@media (min-width:1400px) {
  .hr-about {
    margin-top: 2%;
    margin-bottom: 6%;
  }
  
  .about-heading {
    margin-left: 5%;
    font-family: gs;
    margin-bottom: 3%;
    font-size: 3rem;
  }
  
  .about-body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 1.7rem;
    font-family: rb;
  
    text-align: justify;
    text-justify: inter-word;
  }
  
  .about-last {
    font-size: 2rem;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* About ends */

/* Our Business Starts */

.hr-business {
  margin-top: 5%;
  margin-bottom: 5%;
}

.business-carousel {
  text-align: center;
}

.b-image {
  border-radius: 20px;
  height: 45vh;
  width: 35vw;
  object-fit: cover;
  -webkit-box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
  -moz-box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
  box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
  z-index: 5;
  margin:4%;
}

.business > h1 {
  margin-left: 5%;
  margin-bottom: 5%;
  font-family: gs;
}

.b-row {
  width: 90vw;
  margin: 4%;
}

.b-content > h3 {
  font-family: gs;
}

.b-content > p {
  font-family: rb;
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width:1400px) {
  .hr-business {
    margin-top: 8%;
    margin-bottom: 5%;
  }
  
  .business > h1{
    font-size: 3rem;
  }

  .business-carousel {
    text-align: center;
    
  }
  
  .b-image {
    border-radius: 20px;
    height: 40vh;
    object-fit: cover;
    width: 35vw;
  }
  
  .business > h1 {
    margin-left: 5%;
    margin-bottom: 5%;
    font-family: gs;
  }
  
  .b-row {
    width: 85vw;
    margin: 4%;
  }
  
  .b-content > h3 {
    font-family: gs;
    font-size: 2rem;
  }
  
  .b-content > p {
    font-family: rb;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.4rem;
  }
  
}

/* Our Business Ends */

/* contact starts */

.cu {
  width: 85vw;
}

.contact-heading {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}

.contact-form {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 3%;
  width: 40vw;
  border: 2px solid rgb(232, 232, 232);

  -webkit-box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
-moz-box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
}

.write-us {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 3%;
  width: 40vw;
  background-color: rgb(79, 79, 79);
  -webkit-box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
  -moz-box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
  box-shadow: 17px 17px 25px -4px rgba(189,189,189,0.71);
}

.write-us > a{
  text-decoration: none;
  color: rgb(237, 237, 237);
  font-size: 1.5rem;
}

.write-us > a > i{
  margin: 3%;
}

.write-img{
  margin-top: 5vh;
  width: 35vw;
  height: 20vw;
  filter: grayscale(0.5);
  border-radius: 10px;
  object-fit: cover;
  object-position: right;
}

@media (min-width:1400px) {
  .cu {
    width: 65vw;
  }
  
  .contact-heading {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 3rem;
    text-align: center;
  }
  
  .contact-form {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 3%;
    width: 30vw;
    max-height: 50vh;
  }
  
  .write-us {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 3%;
    width:30vw;
    background-color: rgb(79, 79, 79);
  }
  
  .write-us > a{
    text-decoration: none;
    color: rgb(237, 237, 237);
    font-size: 1.6rem;
  }
  
  .write-us > a > i{
    margin: 4%;
  }

  .write-img{
    margin-top: 5vh;
    width: 26vw;
    height: 15vw;
    filter: grayscale(0.5);
    border-radius: 10px;
    object-fit: cover;
    object-position: right;
  }
}


/* Contact ends */

/* Footer starts */

.footer-hr{
  margin-top: 5%;
}

/* Footer ends */


#more{
  display: none;
}