@media (max-width: 1050px) and (min-width: 750px) {
  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: gs;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .brand-name {
    text-decoration: none;
    color: rgb(63, 63, 63);
    cursor: pointer;
    font-family: gs;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .brand-name:hover {
    text-decoration: none;
    color: rgb(153, 153, 153);
    cursor: pointer;
    font-family: gs;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar {
    position: fixed;
    z-index: 10;
    width: 100vw;
  }
}

@media (max-width: 1050px) and (min-width: 750px) {
  .header-carousel-item {
    font-family: gs;
    height: 40vh;
  }

  .c-img {
    filter: brightness(0.5);
    height: 40vh;
    object-fit: cover;
    object-position: center;
  }

  .carousel-caption {
    font-family: gs;
    font-size: 2.5rem;
    margin-bottom: 12vh;
  }
}

@media (max-width: 1050px) and (min-width: 750px) {
  .hr-about {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .about-heading {
    margin-left: 5%;
    font-family: gs;
    margin-bottom: 5%;
  }

  .about-body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 1.2rem;
    font-family: rb;

    text-align: justify;
    text-justify: inter-word;
  }

  .about-last {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
  }
}

@media (max-width: 1050px) and (min-width: 750px) {
  .hr-business {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .business-carousel {
    text-align: center;
  }

  .b-image {
    margin: 5% auto;
    border-radius: 20px;
    height: 25vh;
    width: 40vw;
    object-fit: cover;
    -webkit-box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    -moz-box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    z-index: 5;
  }

  .business > h1 {
    margin-left: 5%;
    margin-bottom: 5%;
    font-family: gs;
  }

  .b-row {
    width: 99vw;
  }

  .b-content > h3 {
    font-family: gs;
    margin-left: 2%;
  }

  .b-content > p {
    font-family: rb;
    text-align: justify;
    text-justify: inter-word;
    width: 95%;
    font-size: 1.2rem;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) and (min-width: 750px) {
  .cu {
    width: 95vw;
  }

  .contact-heading {
    text-align: center;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 3%;
  }

  .contact-form {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 3%;
    width: 45vw;
    border: 2px solid rgb(232, 232, 232);

    -webkit-box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    -moz-box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
  }

  .write-us {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 3%;
    width: 45vw;
    background-color: rgb(79, 79, 79);
    -webkit-box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    -moz-box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
    box-shadow: 17px 17px 25px -4px rgba(189, 189, 189, 0.71);
  }

  .write-us > a {
    text-decoration: none;
    color: rgb(237, 237, 237);
    font-size: 1.5rem;
  }

  .write-us > a > i {
    margin: 3%;
  }

  .write-img {
    margin-top: 5vh;
    width: 38vw;
    height: 25vw;
    filter: grayscale(0.5);
    border-radius: 10px;
    object-fit: cover;
    object-position: right;
  }
}
